@import "tailwindcss";

@theme {
    --color-BG: #1e2a32;
    --color-headerBG: #3b2f2f;
    --color-wallBG: #2c1b0f;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    color: #f2f2f2;
    font-weight: 600;
    scroll-behavior: smooth;
}


